<div class="login-body">
  <div class="card-div">
    <mat-card class="mat-card-body">
      <mat-card-title class="card-title">DroneBlaze</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content class="card-content">
        <form [formGroup]='loginForm'>

          <mat-form-field class="form-input">
            <mat-label>Email</mat-label>
            <input matInput placeholder="xxx@gmail.com" name="email" formControlName="email">
          </mat-form-field>

          <mat-form-field class="form-input">
            <mat-label>Password</mat-label>
            <input matInput type="password" name="password" formControlName="password">
          </mat-form-field>

          <button mat-raised-button color="accent" (click)="login(loginForm.value)" class="form-button">
            <span class="button-text">Submit</span>
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
