<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="app-title">{{title}}</span>
    <span class="fill-space"></span>
    <span class="user-name">{{username}}</span>
    <button mat-raised-button color="accent" (click)="logout()">
      <mat-icon svgIcon="logout" class="logout"></mat-icon><span class="logout-text">logout</span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav opened mode="side" class="sidenav">
    <div class="sidenav-link-container">
      <mat-list class="sidenav-link-list">
        <!-- <mat-divider></mat-divider>
        <a routerLink="/home/dashboard" routerLinkActive="link-active">
          <mat-list-item class="sidenav-link">
            <mat-icon svgIcon="dashboard"></mat-icon><span class="list-text">Dashboard</span>
          </mat-list-item>
        </a> -->
        <mat-divider></mat-divider>
        <a routerLink="/home/drones" routerLinkActive="link-active">
          <mat-list-item class="sidenav-link">
            <mat-icon svgIcon="drone"></mat-icon><span class="list-text">Drones</span>
          </mat-list-item>
        </a>
        <mat-divider></mat-divider>
        <a routerLink="/home/routes" routerLinkActive="link-active">
          <mat-list-item class="sidenav-link">
            <mat-icon svgIcon="route"></mat-icon><span class="list-text">Routes</span>
          </mat-list-item>
        </a>
        <mat-divider></mat-divider>
        <a routerLink="/home/feeds" routerLinkActive="link-active">
          <mat-list-item class="sidenav-link">
            <mat-icon svgIcon="feed"></mat-icon><span class="list-text">Feeds</span>
          </mat-list-item>
        </a>
        <!-- <mat-divider></mat-divider>
        <a routerLink="/home/location" routerLinkActive="link-active">
          <mat-list-item class="sidenav-link">
            <mat-icon svgIcon="location"></mat-icon><span class="list-text">Locations</span>
          </mat-list-item>
        </a> -->
        <mat-divider></mat-divider>
        <a routerLink="/home/settings" routerLinkActive="link-active">
          <mat-list-item class="sidenav-link">
            <mat-icon svgIcon="settings"></mat-icon><span class="list-text">Settings</span>
          </mat-list-item>
        </a>
        <mat-divider></mat-divider>
        <a *ngIf="role === 1" routerLink="/home/users" routerLinkActive="link-active">
          <mat-list-item class="sidenav-link">
            <mat-icon svgIcon="users"></mat-icon><span class="list-text">Users</span>
          </mat-list-item>
        </a>
        <mat-divider *ngIf="role === 1"></mat-divider>
      </mat-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
