<h1 mat-dialog-title class='dialog-title'>Add User</h1>
<div mat-dialog-content [formGroup]='form'>
  <h3>* only standard user creation allowed</h3>
  <mat-form-field class='input'>
    <mat-label>Name</mat-label>
    <input matInput formControlName='name'>
  </mat-form-field>
  <mat-form-field class='input'>
    <mat-label>Email</mat-label>
    <input matInput formControlName='email'>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="close()" color="danger">Cancel</button>
  <button mat-raised-button (click)="submit()" color="accent" cdkFocusInitial>Add</button>
</div>
